build/
build_debug/
build_san/
*.o
*.a
*.so
*.d
**/__pycache__/
code-search/chroma_db/
code-search/.venv/
models/ggml-tiny.en.bin
projects/
compile_commands.json
build-linux/
build-ios/
.DS_Store
build-mac/
web/node_modules/
web/dist/
web/.vite/
watch_*
